html {
    overflow-y: scroll
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: #080c07;
        --fgcolor: #B9C9B8;
        --accent: #638660;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bgcolor: #e7efb7;
        --fgcolor: #0c3203;
        --accent: #3b7739;
    }
}

body {
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    font:15px/1.5 monospace;
    font-family: monospace;
    color:var(--fgcolor);
    background: var(--bgcolor);
    line-height: 1.6
}

a {
    text-decoration: none;
    color: var(--accent);
}

h1, h2, h3 {
    line-height:1.2
}

p > code {
    padding-left:5px;
    padding-right:5px;
    padding-bottom:1px;
    border-radius: 2px;
}

pre {
    padding:24px;
    overflow-x: auto;
    border: 2px solid var(--accent);
}

article {
    padding:6px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto
}
