html {
    overflow-y: scroll;
}

:root {
    /* hue is set by hue.js once per session */
    --hue: 115;
    --dark_primary: hsl(var(--hue) 20% 5%);
    --dark_secondary: hsl(var(--hue) 20% 10%);
    --light_primary: hsl(var(--hue) 20% 75%);
    --accent: hsl(var(--hue) 20% 45%);
}

body {
    max-width: 50em;
    margin: 2em auto;
    padding: 0 1em;
    font: 15px/1.5 monospace;
    color: var(--light_primary);
    background: var(--dark_primary);
    line-height: 1.6;
}

blockquote {
    background: var(--dark_secondary);
    border-left: 10px solid var(--accent);
    width: 70%;
    display: block;
    margin: 2em auto;
    padding: 1em;
    font-size: 1.2em;
    font-family: "Georgia", serif;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--accent);
}

pre {
    padding: 1.5em;
    overflow-x: scroll;
    border: 3px solid var(--accent);
}

article {
    padding: 1em 0;
}

img, .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
}

figcaption {
    text-align: center;
}

figure {
    margin: auto;
}
