html {
    overflow-y: scroll
}

:root {
    --bgcolor: #080c07;
    --fontcolor: #B9C9B8;
    --linkcolor: #638660;
    --prebgcolor: #182417;
    --precolor: #b9c9b9;
}

body{
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    font:15px/1.5 monospace;
    color:var(--fontcolor);
    background: var(--bgcolor);
}

a{
    text-decoration: none;
    color: var(--linkcolor);
}


h1,h2,h3{
    line-height:1.2
}

p > code{
    color: var(--precolor);
    background: var(--prebgcolor);
    padding-left:5px;
    padding-right:5px;
    padding-bottom:1px;
    border-radius: 2px;
}

pre{
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:24px;
    overflow-x: auto;
    border: 2px solid var(--linkcolor);
}

article{
    padding:24px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto
}
