---
import Base from "../layouts/Base.astro";
import FormattedDate from "../components/FormattedDate.astro";

const lastUpdated = new Date("2023-04-25");
---

<Base>

<h2>
PGP public key, last updated: 
<FormattedDate date={lastUpdated} />
</h2>

<pre>
Key Id: 0x5026E406B7B3818F
Encrypt and email at mail@skovati.dev
Include your public key if you want my response encrypted.
See https://skovati.dev/pub.gpg for a scriptable format.
</pre>

<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEYAtSuxYJKwYBBAHaRw8BAQdAagzyhuHTZyCiMd7c+4v5Epxeokb5zIEaviK9
fBh4Efm0GnNrb3ZhdGkgPG1haWxAc2tvdmF0aS5kZXY+iI4EExYKADYWIQTYLLgU
9caVar0tvUBQJuQGt7OBjwUCYttiVQIbAQQLCQgHBBUKCQgFFgIDAQACHgECF4AA
CgkQUCbkBrezgY9SuAD9GBuZusFFhegvShcczqio20Y0qm59THt3HMrKgQWoOv4B
AI5vowJ3zV3Oc6+95FUDsm3zfS5SU4vTOdZi0qP3tTMHtC1za292YXRpIChtYXN0
ZXIga2V5KSA8c2tvdmF0aUBwcm90b25tYWlsLmNvbT6IkAQTFggAOAULCQgHAgYV
CgkICwIEFgIDAQIeAQIXgAIbARYhBNgsuBT1xpVqvS29QFAm5Aa3s4GPBQJgGCp9
AAoJEFAm5Aa3s4GPFAYBAIE5+FtBZqGFYV8lzjwl0xjMt2lq33Ra8STc9FxniaPr
AP9x4KPQs92a/ihZwHOgiP/pfQtCWT8c0b2XFv1HHZg/AoiWBBMWCAA+BQkB4TOA
BQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAFiEE2Cy4FPXGlWq9Lb1AUCbkBrezgY8F
AmALVJ4CGwEACgkQUCbkBrezgY/f+gD+KEmYdxN/u5cEqxA1T8114xxzQRevki3a
peJfrYLEf2gBALaG0tQF4Jozfl90IQZt1EGmOoKLb8A92mBK8gm81wsGuDMEYAtU
ohYJKwYBBAHaRw8BAQdAH+CZb8MZIQlaac2WVYn+Jr37zgVlqKOVmABvVpD1IpOI
9QQYFgoAJgIbAhYhBNgsuBT1xpVqvS29QFAm5Aa3s4GPBQJkSDhABQkGHhceAIF2
IAQZFggAHRYhBO8eGBHLbCfKQcETmIWPf0NK908lBQJgC1SiAAoJEIWPf0NK908l
juMA/0ckYGSeW7KiTircRNocUXZLecOHsuD1GhfVkbEiLuD6AP9j8I4vRb6BogSW
Jf2N9PHt7X5w7O5gRarVkozlcl+ZDQkQUCbkBrezgY/laAD+L9r1LsuwtN3BEhwq
ZEc+ERzOTc9IUH266fil1afVC2IA+wVhI8l66HNWWxVKpUJQI8/jw/vcMRfD6jVT
hfB/vCIBuDMEYBgqyxYJKwYBBAHaRw8BAQdAdaEYUlTE9kztJcD9Wm0RI1n/dfQv
aje4EO6Dp219JpqIfgQYFgoAJgIbIBYhBNgsuBT1xpVqvS29QFAm5Aa3s4GPBQJk
SDhABQkGEUD1AAoJEFAm5Aa3s4GPQV0BALddooDwQ2Z7d2ozyva/KiqiDF7WwBNj
JETTaHHPbWrHAQC0Xs/eQMuQ2jwP8s5AZqYwon2iQIGlxqDrDbLTODS1C7g4BGAL
UrsSCisGAQQBl1UBBQEBB0CJjKIs16TKXcf9pGW5HwGzlOwTb3O7fzYTK9N5+59l
RgMBCAeIfgQYFgoAJgIbDBYhBNgsuBT1xpVqvS29QFAm5Aa3s4GPBQJkSDhABQkG
HhkFAAoJEFAm5Aa3s4GP3BQBAIUBAUb+TLqNtx0Zd8OwylHm4YOUchiZ9S9bSkR/
A5KQAP4yDIfYh/8UJU9VdbS2Tp9vFer8uf17nF7Jwp435KNiDQ==
=XNjW
-----END PGP PUBLIC KEY BLOCK-----
</pre>

</Base>
