<footer>
    <p>
    {{ with .GitInfo }}
    page last updated: {{ .AuthorDate.Format "2006-01-02" }} by {{ .AuthorName }} - ({{ .AbbreviatedHash }}) "{{ .Subject }}"
    {{ end }}
    </p>
    <p>
    the content for this site is <a href="./LICENSE"><b>CC-BY-NC-ND</b></a>. the <a href="https://git.sr.ht/~skovati/website"><b>source code</b></a> is <a href="https://git.sr.ht/~skovati/website/tree/master/item/LICENSE"><b>MIT</b></a>
    </p>

    <p>
	{{- range .Site.Menus.footer }}
	<a href="{{ .URL }}"><b>{{ .Name }}</b></a>
        {{- end }}
	</p>
</footer>
