---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const title = "skovati.dev";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:,">
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
